extends layout

block content
  script(src='/javascripts/jquery-3.4.1.min.js')
  script(type='text/javascript' src='/javascripts/javascript.js')
  script(src='/javascripts/jquery.js')
  h1= title
  p#demo The button below should change this para
  button(type="button" onclick="myFunction()") Try it
  div#content
